@import 'tailwindcss';
@plugin 'daisyui' {
    themes: light --default;
}

/* Eliminar botones de subir y bajar en inputs de tipo number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}